/*-----------------------------    HEADER    -----------------------------*/


/*-----------------------------    LOGIN    -----------------------------*/

.footer-main{
    background: #012C56;!important;
}


.header-cards-all {
    background-color: #012C56;!important;
    color: #ffffff;
    font-weight: bold;
}
.mask{
    background-color: rgba(0, 0, 0, 0.7);
}
.banner-index{
    background-image: url('../img/sede_san_bernard.jpg');
}

form .avatar{
    width: 55px;
    height: 55px;
}
.navbar .avatar{
    width: 30px;
    height: 30px;

}

.avatar-user-post{
    width: 200px;
    height: 200px;

}


.line-bottom {
    border: 1px solid #BDBDBD;
    width: 100%;
}
