/*-----------------------------    HEADER    -----------------------------*/


/*-----------------------------    LOGIN    -----------------------------*/

.footer-main{
    background: #012C56;!important;
}


.header-cards-all {
    background-color: #012C56;!important;
    color: #ffffff;
    font-weight: bold;
}


.header-cards-all .nav-link{
    color: #ffffff;
}

.mask{
    background-color: rgba(0, 0, 0, 0.7);
}
.banner-index{
    background-image: url('../img/sede_san_bernard.jpg');
}

form .avatar{
    width: 55px;
    height: 55px;
}
.navbar .avatar{
    position: absolute;
    width: 40px;
    height: 40px;

}

.avatar-user-post{
    width: 200px;
    height: 200px;

}


.line-bottom {
    border: 1px solid #BDBDBD;
    width: 100%;
}


/*    PANEL GENERAL VISTA PRINCIPAL */
.list-panel{
    height: 100px;



}

.imagen-panel{
    width: 60px;
    height: 60px;
}
.avatar-list-panel{
}
.nickname-panel{
    font-size: 15px;
}

.tile-card-panel{
    font-size: 15px;
}
.counter-panel,
.nickname-panel,
.subtile-card-panel{
    font-size: 10px;
    text-align: center;
}

.avatar-space,
.content-space,
.end-space{
    border-right: 0.5px solid #cbd5e0 ;

}


.icon-panel-count-comment{
    width: 30px;
    height: 30px;
    font-size: 50px;
    text-align: center;

}
.icon-panel-count-comment-card{
    width: 30px;
    height: 30px;
    font-size: 50px;
    text-align: center;

}
.banner-a-img{
    height: 250px;
    width: 250px;
    border: solid 5px white;
}
@media (max-width: 992px) {
   .banner-a-img{
       margin-top: 10px;
        height: 150px;
        width: 150px;
    }
    .avatar-user-post{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 800px) {
    .card-user-posts{
        display: none;
    }

}

@media (max-width: 600px) {
    .banner-a-img{
        display: none;
    }

}
