/*-----------------------------    HEADER    -----------------------------*/


/*-----------------------------    LOGIN    -----------------------------*/

.footer-main{
    background: #012C56;!important;
}


.header-cards-all {
    background-color: #012C56;!important;
    color: #ffffff;
    font-weight: bold;
}
.mask{
    background-color: rgba(0, 0, 0, 0.7);
}
.banner-index{
    background-image: url('../img/sede_san_bernard.jpg');
}

.avatar{
    width: 55px;

}
