/*-----------------------------    HEADER    -----------------------------*/
.header-main{
    background-color: #012C56;!important;
    color: #ffffff;
    font-weight: bold;
}

/*-----------------------------    LOGIN    -----------------------------*/
.card-header-login{
    background: #012C56;!important;
    color: #ffffff;
    font-weight: bold;
}
.footer-main{
    background: #012C56;!important;
}
.card-header-content{
    background-color: #012C56;!important;
    color: #ffffff;
    font-weight: bold;
}
.card-header-sidebar{
    background-color: #012C56;!important;
    color: #ffffff;
    font-weight: bold;
}
.intro-example {
}
.mask{
    background-color: rgba(0, 0, 0, 0.7);
}
.banner-index{
    background-image: url('../img/sede_san_bernard.jpg');
}
